<!-- <h2 class="max-w-screen-2xl m-auto mt-3">Product Add</h2>
<form (ngSubmit)="onHanldeAdd()" class="max-w-screen-2xl m-auto mt-3">
    <div class="form-group">
        <input class="border border-zinc-300 p-2 w-3/4 rounded-lg" type="text" placeholder="Ten San Pham" [(ngModel)]="product.name" name="name">
    </div>
    <div class="form-group">
        <input class="border border-zinc-300 p-2 w-3/4 rounded-lg" type="number" placeholder="Gia San Pham" [(ngModel)]="product.price" name="price">
    </div>
    <div class="form-group">
        <input class="border border-zinc-300 p-2 w-3/4 rounded-lg" type="text" placeholder="Img San Pham" [(ngModel)]="product.img" name="img">
    </div>
    <button class="d-flex justify-content-center" type="submit" class="text-xl border-zinc-300 w-3/4 border-inherit mt-3 mb-3 border p-2 hover:bg-red-400 rounded-lg bg-teal-400 text-slate-50">Submit</button>
</form> -->

<h2>Product Add</h2>
<form (ngSubmit)="onHanldeAdd()" [formGroup]="productForm">
    <div class="form-group">
        <input  type="text" placeholder="Ten San Pham"  formControlName="name">
    </div>
    <div class="form-group">
        <input  type="number" placeholder="Gia San Pham" formControlName="price">
    </div>
    <div class="form-group">
        <input  type="text" placeholder="Img San Pham"  formControlName="img">
    </div>
    <button type="submit" [disabled]="!productForm.valid">Submit</button>
</form>