<div class="header-1">
    <div class="header">
        <div class="logo">
            <img src="../../../../assets/img/logoTiKi.png" alt="">
        </div>
        <div class="input">
            <i class="fa-solid fa-magnifying-glass"></i><input type="search" placeholder="Bạn tìm gì hôm nay">
            <button>Search</button>
        </div>
        <div class="menu-1">
            <ul>
                <li><a href="#"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="/admin/product"><i class="fa-regular fa-face-smile-wink"></i> Account</a></li>
            </ul>
        </div>
        <div class="cart">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
    </div>
</div>
<div class="body-1">
    <div class="body">
        <div class="sideber">
            <div class="sideber-1">
                <h4>Nổi bật</h4>
                <div class="x1">
                    <img src="../../../../assets/img/x1.webp" alt="" width="32px" height="32px">
                    <p>Giá Tốt Mỗi Ngày</p>
                </div>
                <div class="x1">
                    <img src="../../../../assets/img/x2.webp" alt="" width="32px" height="32px">
                    <p>Mã giảm giá</p>
                </div>
                <div class="x1">
                    <img src="../../../../assets/img/x3.webp" alt="" width="32px" height="32px">
                    <p>Đóng tiền, nạp thẻ</p>
                </div>
                <div class="x1">
                    <img src="../../../../assets/img/x4.webp" alt="" width="32px" height="32px">
                    <p>Mua trước trả sau</p>
                </div>
                <div class="x1">
                    <img src="../../../../assets/img/x5.webp" alt="" width="32px" height="32px">
                    <p>Ưu đãi thẻ, ví</p>
                </div>
                <div class="x1">
                    <img src="../../../../assets/img/x6.webp" alt="" width="32px" height="32px">
                    <p>Bảo hiểm Tiki360</p>
                </div>
                <div class="x1">
                    <img src="../../../../assets/img/x7.webp" alt="" width="32px" height="32px">
                    <p>Tiki Exchange</p>
                </div>
            </div>
            <div class="sideber-1">
                <h4>Danh mục</h4>
                <div class="x1">
                    <img src="../../../../assets/img/dm1.webp" alt="" width="32px" height="32px">
                    <p>Đồ Chơi - Mẹ & Bé</p>
                </div>
                <div class="x1">
                    <img src="../../../../assets/img/dm2.webp" alt="" width="32px" height="32px">
                    <p>NGON</p>
                </div>
                <div class="x1">
                    <img src="../../../../assets/img/dm3.webp" alt="" width="32px" height="32px">
                    <p>Điện Thoại - Máy Tính Bảng</p>
                </div>
                <div class="x1">
                    <img src="../../../../assets/img/dm4.webp" alt="" width="32px" height="32px">
                    <p>Làm Đẹp - Sức Khỏe</p>
                </div>
                <div class="x1">
                    <img src="../../../../assets/img/dm5.webp" alt="" width="32px" height="32px">
                    <p>Điện Gia Dụng</p>
                </div>
                <div class="x1">
                    <img src="../../../../assets/img/dm6.webp" alt="" width="32px" height="32px">
                    <p>Thời trang nữ</p>
                </div>
                <div class="x1">
                    <img src="../../../../assets/img/dm7.webp" alt="" width="32px" height="32px">
                    <p>Thời trang nam</p>
                </div>
                <div class="x1">
                    <img src="../../../../assets/img/dm8.webp" alt="" width="32px" height="32px">
                    <p>Giày - Dép nữ</p>
                </div>
                <div class="x1">
                    <img src="../../../../assets/img/dm9.webp" alt="" width="32px" height="32px">
                    <p>Túi thời trang nữ</p>
                </div>
                <div class="x1">
                    <img src="../../../../assets/img/dm10.webp" alt="" width="32px" height="32px">
                    <p>Giày - Dép nam</p>
                </div>
                <div class="x1">
                    <img src="../../../../assets/img/dm11.webp" alt="" width="32px" height="32px">
                    <p>Túi thời trang nam</p>
                </div>
                <div class="x1">
                    <img src="../../../../assets/img/dm12.webp" alt="" width="32px" height="32px">
                    <p>Balo và Vali</p>
                </div>
                <div class="x1">
                    <img src="../../../../assets/img/dm13.webp" alt="" width="32px" height="32px">
                    <p>Phụ kiện thời trang</p>
                </div>
                <div class="x1">
                    <img src="../../../../assets/img/dm14.webp" alt="" width="32px" height="32px">
                    <p>Đồng hồ và Trang sức</p>
                </div>
            </div>
        </div>
        <div class="conten">
            <div class="conten-1">
                <div class="banner">
                    <img id="img" src="../../../../assets/img/t1.webp" alt="" width="100%" height="278px">
                </div>
                <div class="banner">
                    <img src="../../../../assets/img/ct1.webp" alt="" width="100%" height="278px">
                </div>
            </div>
            <div class="conten-2">
                <h3>Thương Hiệu Chính Hãng</h3>
                <div class="sp-1">
                    <img src="../../../../assets/img/ct01.png" alt="" width="171px" height="256px">
                    <img src="../../../../assets/img/ct02.jpeg" alt="" width="171px" height="256px">
                    <img src="../../../../assets/img/ct03.png" alt="" width="171px" height="256px">
                    <img src="../../../../assets/img/ct04.png" alt="" width="171px" height="256px">
                    <img src="../../../../assets/img/ct05.png" alt="" width="171px" height="256px">
                    <img src="../../../../assets/img/ct06.png" alt="" width="171px" height="256px">
                </div>
            </div>
            <div class="conten-3">
                <h3>Giá sốc hôm nay</h3>
                <div class="sp-2">
                    <div class="sp">
                        <img src="../../../../assets/img/ok1.webp" alt="" width="145px" height="145px">
                        <p>110.000₫</p>
                        <button class="sell">Đã bán 15</button>
                    </div>
                    <div class="sp">
                        <img src="../../../../assets/img/ok2.webp" alt="" width="145px" height="145px">
                        <p>67.830₫</p>
                        <button class="sell">Đã bán 75</button>
                    </div>
                    <div class="sp">
                        <img src="../../../../assets/img/ok3.webp" alt="" width="145px" height="145px">
                        <p>410.000₫</p>
                        <button class="sell">Đã bán 95</button>
                    </div>
                    <div class="sp">
                        <img src="../../../../assets/img/ok4.webp" alt="" width="145px" height="145px">
                        <p>43.600₫</p>
                        <button class="sell">Đã bán 5</button>
                    </div>
                    <div class="sp">
                        <img src="../../../../assets/img/ok5.webp" alt="" width="145px" height="145px">
                        <p>162.800₫</p>
                        <button class="sell">Đã bán 15</button>
                    </div>
                    <div class="sp">
                        <img src="../../../../assets/img/ok6.webp" alt="" width="145px" height="145px">
                        <p>136.950₫</p>
                        <button class="sell">Đã bán 15</button>
                    </div>
                    <div class="sp">
                        <img src="../../../../assets/img/ok7.webp" alt="" width="145px" height="145px">
                        <p>69.660₫</p>
                        <button class="sell">Đã bán 15</button>
                    </div>
                </div>
            </div>
            <div class="conten-4">
                <h3>Gợi ý hôm nay</h3>
                <div class="sp-10">
                    <div class="sp-3" *ngFor = "let product of products">
                        <a href="/product/{{ product.id }}">
                            <img src="{{ product.img }}" alt="" width="100%" height="183px">
                            <h4>{{ product.name}}</h4>
                            <p>{{ product.price }}₫</p>
                            <button>Feeship+</button> <button>Tra Gop</button>
                        </a>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-1">
        <div class="column">
            <h4>Thông Tin Về Tiki</h4>
            <p>Trụ sở chính: Tòa nhà Viettel, Số 285, đường Cách Mạng Tháng 8, phường 12, quận 10, Thành phố Hồ Chí Minh

                Tiki nhận đặt hàng trực tuyến và giao hàng tận nơi, chưa hỗ trợ mua và nhận hàng trực tiếp tại văn phòng hoặc trung tâm xử lý đơn hàng
                
                Giấy chứng nhận Đăng ký Kinh doanh số 0309532909 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp lần đầu ngày 06/01/2010 và sửa đổi lần thứ 23 ngày 14/02/2022
                
                © 2022 - Bản quyền của Công ty TNHH Ti Ki</p>
        </div>
        <div class="column">
            <h4>Hỗ trợ khách hàng</h4>
            <p>Hotline: 1900-6035
                (1000 đ/phút, 8-21h kể cả T7, CN)
                
                Các câu hỏi thường gặp
                Gửi yêu cầu hỗ trợ
                Hướng dẫn đặt hàng
                Phương thức vận chuyển
                Chính sách đổi trả
                Hướng dẫn trả góp
                Chính sách hàng nhập khẩu
                Hỗ trợ khách hàng: hotro@tiki.vn
                
                Báo lỗi bảo mật: security@tiki.vn</p>
        </div>
        <div class="column">
            <h4>Về Tiki</h4>
            <p>Giới thiệu Tiki
                Tiki Blog
                Tuyển dụng
                Chính sách bảo mật thanh toán
                Chính sách bảo mật thông tin cá nhân
                Chính sách giải quyết khiếu nại
                Điều khoản sử dụng
                Giới thiệu Tiki Xu
                Gửi Astra nhận Xu mua sắm thả ga
                Tiếp thị liên kết cùng Tiki
                Bán hàng doanh nghiệp
                Điều kiện vận chuyển</p>
        </div>
        <div class="column">
            <h4>Hợp tác và liên kết</h4>
            <p>Quy chế hoạt động Sàn GDTMĐT
                Bán hàng cùng Tiki</p>
        </div>
        <div class="column">
            <h4>Phương thức thanh toán</h4>
            <img src="../../../../assets/img/thanhToan.png" alt="">
        </div>
        <div class="column">
            <h4>Kết nối với chúng tôi</h4>
            <img src="../../../../assets/img/ketNoi.png" alt="">
        </div>
    </div>
</div>